#announcements {
  display: none;
}

/* #announcements * {
  outline: 1px solid red;
} */

.slideshow {
  width: 100%;
  position: relative;
  margin: auto;
  margin-bottom: 5em;
}

.slides {
  display: none;
  max-width: 100%;
  max-height: 100%;
}

.slides > * {
  margin: 0;
}

.slides h2 {
  font-size: 3em;
}

.slideimg {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.slideimg img {
  max-height: 300px;
  max-width: 100%;
  margin: auto;
}

.slides p {
  min-height: 5em;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    user-select: none;
}

.next {
    right: 0;
}

.fade {
    animation-name: fade ;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* .announcement-card * {
  outline: 1px solid red;
} */

.announcement-card {
  /* outline: 1px solid red; */
  background-color: var(--card-bg);
  color: #2c2c2c;

  padding: 1em;
  padding-top: 3em;

  position: relative;
}

.announcement-card > * {
  display: block;
  width: 100%;
  margin: .5em;
}

.announcement-image {
  max-width: 50%;
}

.announcement-actions {
  height: 3em;
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
}

.announcement-actions svg {
  height: 2em;
  width: 2em;
  margin: .5em;

  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .announcement-card {
    padding-top: 1em;
  }

}