#announcements {
    width: 100vw;
    height: 100vh;
    z-index: 100;
  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* filter: blur(8px); */
    
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    /* outline: 1px solid red; */
  }
/* 
.modal{
    outline: 1px solid red;
} */

#announcement-box.modal {
    width: min(900px, 95%);
    min-height: 50vh;
    max-height: 90vh;
    overflow-y: scroll;
    padding: 1em;
    border-radius: .5em;
    background-color: #cdcdcd;
    color: #2c2c2c;
  
    display: flex;
    flex-direction: column;
}

#announcements.modal h1 {
  margin: 0;
  float: left;
}
  
#announcements.modal button {
  all: unset;
  cursor: pointer;
  float: right;
  font-size: 1.5em;
}

.slideimg {
  width: 100%;
}
  
/* #announcements.modal .input-field {
  padding: 0.25em;
  display: flex;
  flex-flow: column nowrap;
  gap: .3em;
} */

.slideshow {
  max-width: 100%;
  position: relative;
  margin: auto
}

.slides {
  display: none;
}

.slides img {
  height: 300px;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    user-select: none;
}

.next {
    right: 0;
}

.fade {
    animation-name: fade ;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

