header {
  background-color: var(--up-maroon);
  color: var(--font-color);
  width: 100vw;
  height: 5em;
  padding: 0.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  position: sticky;
  top: 0;
  z-index: 10;
}

#header-logo {
  height: 100%;
}
