.modal.container {
  width: 100vw;
  height: 100vh;
  z-index: 100;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  /* border-color: red;
  border-width: 1px; */
}

form.modal {
  width: min(900px, 95%);
  max-height: 90vh;
  overflow-y: scroll;
  padding: 1em;
  border-radius: .5em;
  background-color: #cdcdcd;
  color: #2c2c2c;

  display: flex;
  flex-direction: column;
}

form.modal h1 {
  margin: 0;
  float: left;
}

form.modal button {
  all: unset;
  cursor: pointer;
  float: right;
  font-size: 1.5em;
}

form.modal .input-field {
  padding: 0.25em;
  display: flex;
  flex-flow: column nowrap;
  gap: .3em;
}

.input-field * {
  font-size: 1.2em;
}

.input-field > input,
.input-field > select {
  padding: 0.5em;
  border-radius: .25em;
}

input[type='submit'] {
  cursor: pointer;
  width: fit-content;
  padding: .5em 1em;
  margin: 0 auto;
  background-color: var(--forest-green);
  color: var(--font-color);
  font-weight: bold;
}



#open-modal-btn {
  all: unset;
  cursor:pointer;

  width: 3em;
  height: 3em;
  z-index: 10;
  border-radius: 50%;

  background-color: var(--forest-green);

  position: fixed;
  bottom: 2em;
  right: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  #open-modal-btn {
    bottom: 4em;
    right: 3em;
  }
}