:root {
  --up-maroon:      hsl(334.7,100%,26.1%);
  --forest-green:   hsl(133.9,74.5%,21.6%);
  --yellow-gold:    hsl(39.4,100%,52.5%);
  --bg-color: #2c2c2c;
  --font-color: #cdcdcd;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background-color: var(--bg-color);
  
  color: var(--font-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: 'Optima';
}

svg {
  width: 1.2em;
  height: 100%;
  margin: 0 auto;
}

main {
  padding: 1em;
  width: min(1600px, 95%);
  margin: 0 auto;
}

main section {
  scroll-margin-top: 7em;
}

#search-form {
  display: grid;
  grid-template-columns: 3em 1fr;

  /* width: min(800px, 95%); */
  width: 100%;
  padding: .5em 0;
  margin: 0 auto 1em;

  background-color: var(--forest-green);

  font-size: 1.2em;
  font-weight: bold;
}

#search-terms {
  all: unset;
  cursor: pointer;
}


table.links {
  background-color: #cdcdcd;
  color: #2c2c2c;

  border-radius: .5em;
  border-collapse: collapse;

  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table.links td,
table.links th {
  height: 3em;
  padding: .5em;
  border: 1px solid var(--bg-color);
  width: 33%;
}

table.links a.title {
  all: unset;
  cursor: pointer;
  font-weight: bold;
}

table.links td.actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: .5em;
}


.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}

.card {
  background-color: #cdcdcd;
  color: #2c2c2c;

  /* width: 20em; */
  border-radius: .5em;
  border: 1px solid darkgray;
  box-shadow: 0 0 10px black inset;

  overflow: hidden;

  position: relative;
}

.card > img {
  width: 100%;
  aspect-ratio: 4 / 3 !important;
}

.card > img[src$='.png'] {
  padding: 3em;
}

.card .content {
  padding: 1em;
  height: 15em;
}

.card .content > h3 {
  font-size: 1.2em;
}

.card .actions {
  display: flex;
  flex-flow: row nowrap;
  padding: 1em;
  gap: .5em;
}

.card .actions > * {
  all: unset;
  cursor: pointer;

  width: fit-content;
  padding: .5em 1em;
  border-radius: .25em;

  background-color: rgba(0,128,0,100%);

  color: #cdcdcd;
  font-weight: bold;

  box-shadow: 3px 3px 3px gray;
}

.card .actions > a {
  background-color: hsl(342, 74%, 31%); 
  width: 100%;
}

.card .actions > a:hover {
  background-color: hsl(342, 74%, 15%); 
  width: 100%;
}

.card .actions > button:hover {
  background-color: rgba(0,56,0,100%);
}

.card .actions > button.delete {
  background-color: #aa0000;
}

/* .card .actions .bookmark {
  background-color: #aaa;
}

.card .actions .bookmark:hover {
  background-color: #777;
} */

.card button.bookmark {
  all: unset;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  /* background-color: #aaa; */
  padding: .5em 1em;
  position: absolute;
  top: 0;
  right: 0;
}

.card button.bookmark svg {
  width: 2em;
  height: 2em;
}

/* .card button.bookmark:hover {
  background-color: #777;
} */



.hidden {
  display: none !important;
}



@media only screen and (min-width: 768px) {
  main {
      display: grid;
      grid-template-columns: 25% 75%;
      /* grid-template-areas: "sidebar content content"; */
      gap: 3em;
  }

  #search-form {
      margin: 0;
  }

  .links-container {
    /* grid-area: "content"; */
    grid-column: 2;
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card:hover {
    scale: 1.1;
    /* box-shadow: 0 0 100px rgb(192,64,128); */
    box-shadow: 0 0 100px #777;
  }
  
  table.links {
    display: table;
    background-color: var(--font-color);
    color: var(--bg-color);
    width: 80%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #cdcdcd;
    --font-color: #333;
  }

  .card {
    background-color: #2c2c2c;
    color: #cdcdcd;
  }

  .card .content a {
    color: skyblue;
    text-decoration: none;
  }

  .card .content a:visited {
    color: #aa7799;
  }
}