<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %} 1UPOU</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/logo.png') }}">

  
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/template.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/header.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sidebar.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/footer.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/modal.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/toggle.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/announcement.css') }}">
  
  {# <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'> #}
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  {% block style %} {% endblock %}

  <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
  {% if not user %}
  <div id="g_id_onload"
      data-client_id="431977621887-ev1n9g2gl7rqaelg8u9dodtss5v0u3pp.apps.googleusercontent.com"
      data-login_uri="/callback">
  </div>
  {% endif %}

  {% include 'header.html' %}
  <div id="pwa" class="modal">
    <svg viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>cross</title> <desc>Created with Sketch Beta.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-469.000000, -1041.000000)" fill="#2c2c2c"> <path d="M487.148,1053.48 L492.813,1047.82 C494.376,1046.26 494.376,1043.72 492.813,1042.16 C491.248,1040.59 488.712,1040.59 487.148,1042.16 L481.484,1047.82 L475.82,1042.16 C474.257,1040.59 471.721,1040.59 470.156,1042.16 C468.593,1043.72 468.593,1046.26 470.156,1047.82 L475.82,1053.48 L470.156,1059.15 C468.593,1060.71 468.593,1063.25 470.156,1064.81 C471.721,1066.38 474.257,1066.38 475.82,1064.81 L481.484,1059.15 L487.148,1064.81 C488.712,1066.38 491.248,1066.38 492.813,1064.81 C494.376,1063.25 494.376,1060.71 492.813,1059.15 L487.148,1053.48" id="cross" sketch:type="MSShapeGroup"> </path> </g> </g> </g></svg>
    <div class="content">
      <img src="/static/images/logo.png" alt="Logo">
      <h3>Do you want to install 1UPOU?</h3>
    </div>
    <div class="actions">
      <button class="add-button" id="pwa-btn">Yes</button>
      <span id="never-again">Do not show again</span>
    </div>
  </div>

  <main>
    {% include 'sidebar.html' %}
    {% block main %} {% endblock %}
  </main>
  {% include 'footer.html' %}

  {% block script %}{% endblock %}

  <script>
    console.log('Miguel was here!!!!!')
  </script>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>