<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %} 1UPOU</title>
  
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/template.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/header.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sidebar.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/footer.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/modal.css') }}">
  {# <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'> #}
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  {% block style %} {% endblock %}

  <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
  {% if not user %}
  <div id="g_id_onload"
      data-client_id="431977621887-ev1n9g2gl7rqaelg8u9dodtss5v0u3pp.apps.googleusercontent.com"
      data-login_uri="/callback">
  </div>
  {% endif %}

  {% include 'header.html' %}

  <main>
    {% include 'sidebar.html' %}
    {% block main %} {% endblock %}
    {# {% include 'form-modal.html' %} #}
  </main>
  {% include 'footer.html' %}

  {% block script %}{% endblock %}
</body>
</html>