<footer>
  <div class="grid-container">
  <div class="info">
    <h3>UP Open University</h3>
    <div class="container">
      <p><svg xmlns="http://www.w3.org/2000/svg" fill="#cdcdcd" viewBox="0 0 32 32"><path d="M27 18.039L16 9.501 5 18.039V14.56l11-8.54 11 8.538v3.481zm-2.75-.31v8.251h-5.5v-5.5h-5.5v5.5h-5.5v-8.25L16 11.543l8.25 6.186z"/></svg><span>Los Ba&ntilde;os, Laguna, Philippines, 4031</span></p>
      <p><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#cdcdcd" id="phone" class="icon glyph"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M21,15v3.93a2,2,0,0,1-2.29,2A18,18,0,0,1,3.14,5.29,2,2,0,0,1,5.13,3H9a1,1,0,0,1,1,.89,10.74,10.74,0,0,0,1,3.78,1,1,0,0,1-.42,1.26l-.86.49a1,1,0,0,0-.33,1.46,14.08,14.08,0,0,0,3.69,3.69,1,1,0,0,0,1.46-.33l.49-.86A1,1,0,0,1,16.33,13a10.74,10.74,0,0,0,3.78,1A1,1,0,0,1,21,15Z"></path></g></svg><span>(+6349) 536-6001 to 6 local 710</span></p>
      <p><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 9.00005L10.2 13.65C11.2667 14.45 12.7333 14.45 13.8 13.65L20 9" stroke="#cdcdcd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M3 9.17681C3 8.45047 3.39378 7.78123 4.02871 7.42849L11.0287 3.5396C11.6328 3.20402 12.3672 3.20402 12.9713 3.5396L19.9713 7.42849C20.6062 7.78123 21 8.45047 21 9.17681V17C21 18.1046 20.1046 19 19 19H5C3.89543 19 3 18.1046 3 17V9.17681Z" stroke="#cdcdcd" stroke-width="2" stroke-linecap="round"></path> </g></svg><span>inquiries@upou.edu.ph</span></p>
      <p><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 7V12L14.5 13.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#cdcdcd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg><span>Monday - Friday 8:00 AM - 5:00 PM PHT</span></p>
    </div>
  </div>

  <div class="contact-us">
    <h3>Contact Us</h3>
    <div class="container">
      <p><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 9.00005L10.2 13.65C11.2667 14.45 12.7333 14.45 13.8 13.65L20 9" stroke="#cdcdcd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M3 9.17681C3 8.45047 3.39378 7.78123 4.02871 7.42849L11.0287 3.5396C11.6328 3.20402 12.3672 3.20402 12.9713 3.5396L19.9713 7.42849C20.6062 7.78123 21 8.45047 21 9.17681V17C21 18.1046 20.1046 19 19 19H5C3.89543 19 3 18.1046 3 17V9.17681Z" stroke="#cdcdcd" stroke-width="2" stroke-linecap="round"></path> </g></svg><span>techsupport@upou.edu.ph</span></p>
    </div>
  </div>

  <div class="font-sizes">
      <h3>CHANGE FONT SIZE</h3>
      <button class="font-size" style='font-size: small' onclick="document.querySelector(':root').style.fontSize  = 'small'; localStorage.setItem('fontSize', 'small')">Small-</button>
      <button class="font-size" style='font-size: medium' onclick="document.querySelector(':root').style.fontSize  = 'medium'; localStorage.setItem('fontSize', 'medium')">Normal</button>
      <button class="font-size" style='font-size: large' onclick="document.querySelector(':root').style.fontSize  = 'large'; localStorage.setItem('fontSize', 'large')">Large+</button>
      <button class="font-size" style='font-size: x-large' onclick="document.querySelector(':root').style.fontSize  = 'x-large'; localStorage.setItem('fontSize', 'x-large')">Larger++</button>
  </div>
  </div>
</footer>