<header>

  <button id="menu-btn" onclick="document.querySelector('#sidebar').style.left = '0vw';">
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5 7H19" stroke="#cdcdcd" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M5 12L19 12" stroke="#cdcdcd" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M5 17L19 17" stroke="#cdcdcd" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
  </button>

  <a href="/" id="header-logo"><img src="{{ url_for('static', filename='images/UPOU-Website-Header.png') }}" alt="UPOU Logo" height="100%"></a>

  
  
  {% if not user %}
    <div class="google-auth-btn">
        <!-- 'Sign in with Google' button -->
        <div id="g_id_onload"
            data-client_id="431977621887-ev1n9g2gl7rqaelg8u9dodtss5v0u3pp.apps.googleusercontent.com"
            data-login_uri="/callback"
            data-auto_prompt="false">
        </div>
        <div class="g_id_signin"
            data-type="standard"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            data-shape="rectangular"
            data-logo_alignment="left">
        </div>
    </div>
  {% else %}
    <a href='/logout' class="logout-btn" >
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M21 12L13 12" stroke="#cdcdcd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M18 15L20.913 12.087V12.087C20.961 12.039 20.961 11.961 20.913 11.913V11.913L18 9" stroke="#cdcdcd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M16 5V4.5V4.5C16 3.67157 15.3284 3 14.5 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H14.5C15.3284 21 16 20.3284 16 19.5V19.5V19" stroke="#cdcdcd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      <span style="color: #cdcdcd">Logout</span>
    </a>
  {% endif %}
</header>